body {
  margin: 0;
  padding: 20px 0 0 0;
  font-family: sans-serif;
  /* min-height: 60rem; */
  padding-top: 7rem;
}

.clickable {
  cursor: pointer;
}

.form-login,
.form-register {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
